.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  width: 500px;
  padding: 26px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 12px;
  text-align: left;
  background-color: #0C1B3D;
  color: #fff;
}

.container h2{
  width: 100%;
  color: #fff;
  text-align: center;
}

.container input{
  margin-top: 5px;
  width: 100%;
  border: solid 1px #fff;
  outline: none;
  padding: 8px;
  color: #444;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.container input:hover{
  margin-top: 5px;
  width: 100%;
  border: solid 1px #40a9ff;
  outline: none;
  border-radius: 4px;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
  transition: ease .7s;
}


.container input:focus{
  margin-top: 5px;
  width: 100%;
  transition: ease .7s;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  border: solid 1px #40a9ff;
  box-shadow: 0 0 0 2px rgba(24,144,255,.2);
  padding: 8px;
}

.container TextArea{
  resize: none;
  width: 100%;
  border-radius: 4px;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  outline: 0;
  padding: 8px;
}

.container TextArea:hover{
  resize: none;
  width: 100%;
  border-radius: 4px;
  color: #444;
  font-size: 16px;
  border: solid 1px #40a9ff;
  font-weight: bold;
  outline: 0;
  padding: 8px;
}



.container TextArea:focus{
  resize: none;
  width: 100%;
  border: solid 1px #40a9ff;
  box-shadow: 0 0 0 2px rgba(24,144,255,.2);
  border-radius: 4px;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  outline: 0;
  padding: 8px;
}




.eror{
  color: #FF3333;
  margin-bottom: 15px;
}


.container button {
  color: #fff;
  width: 100%;
  border-radius: 8px;
  outline: none;
  border: solid 1px #1890ff;
  background-color: #1890ff;
  height: 42px;
}

.container button:hover {
  color: #fff;
  width: 100%;
  outline: none;
  border-radius: 8px;
  border: solid 1px #40a9ff;
  background-color: #40a9ff;
  height: 42px;
}